[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.*"
pillow = "*"
djangorestframework = "*"
psycopg2 = "*"
gunicorn = "*"
sentry-sdk = "*"
django-rest-passwordreset = "*"
python-dotenv = "*"
django-push-notifications = {extras = ["wp", "apns", "fcm"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
