<!DOCTYPE html>
<html>
<head>
    <title>Change your password</title>
</head>
<body>
    <h1>Change your password</h1>
    {{url}}
    <!-- From for Password change -->
    <form method="post" id="reset-password-form" >
        <input type="hidden" name="token" value="{{ token }}">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Change Password">
</body>
<script>
// Funktion zur Überprüfung der Passwortsicherheit
function isPasswordSecure(password) {
    // Mindestens 8 Zeichen, mindestens eine Zahl, ein Groß- und ein Kleinbuchstabe
    const regex = /^.{8,}$/;
    return regex.test(password);
}

// Funktion zum Senden des POST-Requests
function sendPasswordResetRequest(token, password) {
    fetch('{{url}}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            password: password,
            token: token,
        }),
    })
    .then(response => {
        if (response.ok) {
            //alert(response)
            alert('Password has been reset successfully.');
        } else {
            alert(response.detail.toString());
            //alert('An error occurred. Please try again.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
    });
}

// Hauptfunktion zur Überprüfung und zum Senden des Formulars
function validateAndSubmitForm(e) {
    e.preventDefault();
    var password = document.querySelector('input[name="password"]').value;
    var confirm_password = document.querySelector('input[name="confirm_password"]').value;
    var token = document.querySelector('input[name="token"]').value;

    if (!isPasswordSecure(password)) {
        alert('Password is not secure. It must be at least 8 characters long.');
        return;
    }

    if (password !== confirm_password) {
        alert('Password and Confirm Password do not match.');
        return;
    }

    // Alles ist gut, sende den Request
    sendPasswordResetRequest(token, password);
}

// Event-Listener hinzufügen
document.getElementById('reset-password-form').addEventListener('submit', validateAndSubmitForm);
</script>
</html>