{% extends "email/base.html" %}

{% block content %}
<h1>Passwort zurücksetzen</h1>
<p>Lieber Benutzer,</p>
<p>Wir haben eine Anfrage erhalten, um Ihr Passwort zurückzusetzen. Um den Vorgang fortzusetzen, klicken Sie bitte auf den folgenden Button:</p>
<a href="{{ reset_link }}" class="button">Passwort zurücksetzen</a>
<p>Falls Sie den Button nicht anklicken können, können Sie den folgenden Link auch in Ihren Browser kopieren und einfügen:</p>
<p><a href="{{ reset_link }}" class="link">{{ reset_link }}</a></p>
<p>Wenn Sie keine Passwortrücksetzung angefordert haben, können Sie diese E-Mail ignorieren.</p>
<p>Freundliche Grüße,</p>
<p>Ihr Umsonst-Team</p>
{% endblock content %}
